name: Update SDKs

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**/README.md'
      - README.md
      - LICENSE
      - .github/CODEOWNERS

permissions:
  contents: read

concurrency:
  group: ci-sdk-automation

jobs:
  # generate code for the libraries defined in the matrix
  generate:
    strategy:
      matrix:
        project: [ java, node, dotnet, python, ruby ]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Clone ${{ matrix.project }} repository
      uses: actions/checkout@v5
      with:
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        repository: Adyen/adyen-${{ matrix.project }}-api-library
        path: ${{ matrix.project }}/repo
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4
    - name: Override properties
      if: matrix.project == 'node' || matrix.project == 'java'
      run: cp ${{ matrix.project }}/gradle.properties buildSrc
    - name: Generate code for ${{ matrix.project }}
      run: ./gradlew ${{ matrix.project }}:services
    - name: Set PR variables
      id: vars
      run: |
        cd schema
        echo pr_title="Code generation: update services and models" >> "$GITHUB_OUTPUT"
        echo pr_body="OpenAPI spec files or templates have been modified on $(date +%d-%m-%Y) \
          by [commit](https://github.com/Adyen/adyen-openapi/commit/$(git rev-parse HEAD)). " >> "$GITHUB_OUTPUT"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v7
      with:
        path: ${{ matrix.project }}/repo
        token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
        committer: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        author: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
        branch: sdk-automation/models
        title: ${{ steps.vars.outputs.pr_title }}
        body: ${{ steps.vars.outputs.pr_body }}
        commit-message: |
          ${{ contains(fromJSON('["go", "php", "node"]'), matrix.project) && '[reformat]' }}[adyen-sdk-automation] automated change
  # split generation (create multiple PRs)
  generate-modules:
    runs-on: ubuntu-latest
    # generate code as defined in the matrix
    # each iteration generates a group of services and creates a PR
    strategy:
      matrix:
        project: [ php, go ]
        tag: [PaymentsAPIs, ManagementAPIs, PlatformsAPIs, Webhooks]

    steps:
      - uses: actions/checkout@v5

      - name: Clone repository
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          repository: Adyen/adyen-${{ matrix.project }}-api-library
          path: ${{ matrix.project }}/repo

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: ${{ matrix.project }} generate code for ${{ matrix.tag }}
        run: ./gradlew ${{ matrix.project }}:${{ matrix.tag }}

      - name: Set PR variables
        id: vars
        run: |
          cd schema
          echo pr_title="[${{ matrix.tag }}] Code generation: update services and models" >> "$GITHUB_OUTPUT"
          echo pr_body="OpenAPI spec files or templates have been modified on $(date +%d-%m-%Y) \
            by [commit](https://github.com/Adyen/adyen-openapi/commit/$(git rev-parse HEAD)). " >> "$GITHUB_OUTPUT"

      - name: Check for changes
        id: changes
        run: |
          cd ${{ matrix.project }}/repo
          if git diff --quiet; then
            echo "changed=false" >> "$GITHUB_OUTPUT"
          else
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      # create PR is there are changes    
      - name: Create Pull Request
        if: steps.changes.outputs.changed == 'true'
        uses: peter-evans/create-pull-request@v7
        with:
          path: ${{ matrix.project }}/repo
          token: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
          committer: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
          author: ${{ secrets.ADYEN_AUTOMATION_BOT_TEST_EMAIL }}
          # name branch accordingly
          branch: sdk-automation/${{ matrix.tag }}
          title: ${{ steps.vars.outputs.pr_title }}
          body: ${{ steps.vars.outputs.pr_body }}
          commit-message: |
            [adyen-sdk-automation] automated changes
